<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Paraphrase</title>
</head>
<body>
    <div class="container">
        <div class="topBar">
            <span class="model">Models: </span>
            <button class="GPT2-model" type="submit">GP2</button>
            <button class="T5-model" type="submit">T5</button>
            
        </div>
        <div class="div-inputText">
            <textarea class="input-inputText"  placeholder="Start by writing or pasting something here and then press the Paraphrase button."></textarea>
            <button class="btn-rephrase" type="submit">Rephrase</button>
        </div>
        <div class="div-textPraphrasing">
            
        </div>
    </div>
    


    <script src="../static/script.js" ></script>
</body>
</html>